<section>
	<h2>Utilities</h2>
	<ul>
		<li>@Html.ActionLink("Regular Expressions", "regular-expressions", "utilities")</li>
		<li>@Html.ActionLink("Strip Out HTML", "strip-out-html", "utilities")</li>
		<li>@Html.ActionLink("Encode / Decode HTML", "encode-html", "utilities")</li>
		<li>@Html.ActionLink("Encryption", "encryption", "utilities")</li>
		<li>@Html.ActionLink("Random Number Generator", "random-number-generator", "utilities")</li>
		<li>@Html.ActionLink("Site Checker", "site-checker", "utilities")</li>
		<li>@Html.ActionLink("User Agent", "user-agent", "utilities")</li>
        <li>@Html.ActionLink("Convert PX to REM", "convert-px-to-rem", "utilities")</li>
        <li>@Html.ActionLink("Convert HTML Entities", "convert-entities", "utilities")</li>
        <li>@Html.ActionLink("Convert English", "convert-english", "utilities")</li>
	</ul>
</section>
